$color: #1c1200;
$font: "Roboto", serif;
$borde: 50%;
$ancho: 100px;

body {
  scroll-behavior: smooth;
  color: $color;
  background: #7cb9e8;
  font-family: $font;
  margin: 0;
  padding: 0;
}
.bordebajo {
  padding-bottom: 10px;
}
.centrar {
  text-align: center;
}
.col-6 {
  img {
    width: 50px;
  }
  img:hover {
    color: black;
  }
}
#datos {
  list-style-type: none;
}

#enviar {
  margin-bottom: 8px;
}
.especial {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 0px;
}
h1 {
  font-weight: bold;
  font-size: 46px;
}
#image {
  margin-top: 5px;
  margin-bottom: 12px;
  margin-right: 2px;
  background-color: white;
  z-index: 2;
}
#lista {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo {
  border-radius: $borde;
  width: $ancho;
  //mix-blend-mode: multiply;
}

#logout {
  text-align: center;
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.norte {
  border-radius: 25% !important;
}
#resultados {
  .bloque {
    line-height: 45px;
  }
}

p {
  font-weight: bold;
}

#puntuacion {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  padding-bottom: 13px;
  padding-top: 9px;
}
#logoPrincipal {
  mix-blend-mode: multiply;
  width: 300px;
}
